<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>

    <system.serviceModel>
			<behaviors>
				<endpointBehaviors>
					<behavior name="LegacyServiceEndpointBehavior">
						<httpUserAgent />
					</behavior>
				</endpointBehaviors>
			</behaviors>
			<extensions>
				<behaviorExtensions>
					<add name="httpUserAgent" type="EmployeeMailUpdater.Controllers.HttpUserAgentBehaviorExtensionElement, EmployeeMailUpdater, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
				</behaviorExtensions>
			</extensions>	
        <bindings>
            <basicHttpBinding>
                <binding name="TeleoptiCccSdkService">
                    <security mode="Transport" />
                </binding>
                <binding name="TeleoptiCccLogOnService">
                    <security mode="Transport" />
                </binding>
                <binding name="TeleoptiForecastingService">
                    <security mode="Transport" />
                </binding>
                <binding name="TeleoptiSchedulingService">
                    <security mode="Transport" />
                </binding>
                <binding name="TeleoptiOrganizationService">
                    <security mode="Transport" />
                </binding>
                <binding name="TeleoptiOrganizationService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wfmserver/TeleoptiWFM/SDK/TeleoptiCccSdkService.svc"
                binding="basicHttpBinding" bindingConfiguration="TeleoptiCccSdkService"
                contract="Sdk.TeleoptiCccSdkService" name="TeleoptiCccSdkService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
            <endpoint address="https://wfmserver/TeleoptiWFM/SDK/TeleoptiCccSdkService.svc"
                binding="basicHttpBinding" bindingConfiguration="TeleoptiCccLogOnService"
                contract="Sdk.TeleoptiCccLogOnService" name="TeleoptiCccLogOnService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
            <endpoint address="https://wfmserver/TeleoptiWFM/SDK/TeleoptiCccSdkService.svc"
                binding="basicHttpBinding" bindingConfiguration="TeleoptiForecastingService"
                contract="Sdk.TeleoptiForecastingService" name="TeleoptiForecastingService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
            <endpoint address="https://wfmserver/TeleoptiWFM/SDK/TeleoptiCccSdkService.svc"
                binding="basicHttpBinding" bindingConfiguration="TeleoptiSchedulingService"
                contract="Sdk.TeleoptiSchedulingService" name="TeleoptiSchedulingService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
            <endpoint address="https://wfmserver/TeleoptiWFM/SDK/TeleoptiCccSdkService.svc"
                binding="basicHttpBinding" bindingConfiguration="TeleoptiOrganizationService"
                contract="Sdk.TeleoptiOrganizationService" name="TeleoptiOrganizationService" behaviorConfiguration="LegacyServiceEndpointBehavior" />
            <endpoint address="https://wfmserver/TeleoptiWFM/SDK/TeleoptiCccSdkService.svc"
                binding="basicHttpBinding" bindingConfiguration="TeleoptiOrganizationService1"
                contract="Sdk.TeleoptiCccSdkInternal" name="TeleoptiOrganizationService1" behaviorConfiguration="LegacyServiceEndpointBehavior" />
        </client>
    </system.serviceModel>
</configuration>
